*{

   padding: 0px;
   box-sizing: 0px;
   margin: 0px;

}

#logo{

    display: flex;
    color: black;
    align-items: center;
    margin: 0px 14px;
    font-weight: bold;
    font-size: 23px;
    margin-right: 40px;
    
}

#logo img{
    
}


#navbar {
    background-color: red;
    padding: 14px 4px;
        }




#navbar ul{

    display: flex;
    flex-direction: row;
    top: 0px;
    align-items: center;
}

#navbar li{

list-style: none;


}

#navbar li a{

    font-size: 1.3rem;
    text-decoration: none;
    padding: 7px 11px;
    margin: 13px 13px;
    font-weight: bold;
    color: black;
}

#navbar li a:hover{

   color: white;

}

#introSection{

    display: flex;
    flex-direction: column;
    background: center/cover no-repeat url("../static/bg.jpg");
    height: 300px;
    background-color: red;
    color: white;
    align-items: center;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    font-weight: 100;
    font-weight: bold;
    
}

#introSection div.small{

    font-size: 1.5rem;
    padding:5px;
    font-weight: bold;
}


#sponsorsSection{

    height: 300px;
    background-color: rgb(166, 233, 233);
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 12px;
    font-size: 25px;
}

#headingSection h2{
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
}

#missionSection{
    height: 286px; 
    width: 67%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#missionSection h2{
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
}

.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 20px;
    height: 209px;
}
.card h3{
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content{

    margin: 2px;
}

#footer{

    height: 100px;
    background-color: black;

}